<h1 class="admindash">Welcome to ADMIN Panel</h1>

<p>1. You can add Subjects here.</p>
<p>2.You can add quiz of paticular subject.</p>
<p>3.You can decide the number of questions in the quiz and maximum marks.</p>
<p>4.You can also add multiple question in the quiz using file upload in .xlsx format.</p>
<p>5.You can add a question bank to the particular quiz ,that quiz will display randomly for all the students. </p>
<p>6.You can delete the subject</p>
<p>7.You can delete and update the quiz</p>
<p>8.You can delete and update the questions</p>
<p>9.You can set the publish status of the quiz</p>
